/* 
    Document   : dashboard.css
    Author     : Iago Uilian Berndt
    Description: Folha de estilo da Dashboard.
*/
.dashboard {
	display:table;
	list-style-type: none;
	margin:10px;
}
.dashboard a{
	border-radius:5px;
	width:265px;
	height:65px;
	float:left;
	padding:15px 0px 0px 15px;
	background-color:#E5E5E5;
	margin:15px;
	color:#555;
	font-size: 10px;
	position:relative;
	display: block;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.6);
	background-image: url(../img/background_dashboard_item.png);
}
.dashboard a img{
	float:left;
	margin-right:10px;
}
.dashboard a span{
	font-size: 20px;
}
.dashboard .remover{
	background-image: url(../img/close_shortcut_dashboard.png);
	width: 32px;
	height: 32px;
	position: absolute;
	top: -10px;
	left:260px;	
}
.form .coluna{
	float:left;
	width: 195px;
	margin: 20px;
}
.form .item{
	margin: 10px 10px 10px 20px;
	display: table;
}
#addDashboard .item label{
	width: 120px;
}
.form .filter .item{
	margin: 10px 10px 10px 20px;
	display: table;
	float: left;
}
.form .filter{
	margin-left: 25px;
	display: table;
	width: 900px;
}
.form .title{
	margin: 10px 10px 10px 20px;
	display: table;
	font-size: 20px;
}
.form label{
	margin-top: 4px;
	margin-left: 10px;
	display: block;
	float: left;
}
.form a{
	float: left;
}