/* 
    Document   : services
    Created on : Apr 9, 2012, 3:53:21 PM
    Author     : rodrigoack
    Description:
        Services footer stylesheet
*/

root { 
    display: block;
}

#containerStatus{
    background: #5a5a5a;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: table;
    width: 100%;
    padding-bottom: 30px;
    font-family: 'segoe ui', tahoma, geneva, kalimati, sans-serif;
}

#containerStatus a{
    color: #fff;
}

#containerStatus a:hover{
    color: #ccc;
}

#statusTopo{
    margin: 15px;
    display: table;
    width: 96%;
}

#statusTopo .expand{
    margin-right: 30px;
}

#statusTopo div{
    float: left;
}

#statusTopo div.version{
    float: right;
    font-size: 13px;
    color: #ccc;
}

#statusTopo ul li{
    float: left;
    margin: 0 5px;
    font-size: 13px;
}

#statusTopo ul li span{
    font-weight: bold;
}

div.statusIndicator{
    float: left;
}

#statusBody{
    width: 100%;
    display: table;
}

.statusColumn{
    width: 460px;
    float: left;
    margin: 0 8px;
    display: table;
}

.statusBlock{
    width: 100%;
    display: table;
}

.statusBlock h2{
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.iconHolder{
    width: 24px;
    margin-top: 12px;
    float: left;
}

.contentHolder{
    float: left;
    width: 420px;
    margin-left: 10px;
}

.statusBlock table {
    width: 100%;
}

.statusBlock th {
    text-align: left;
    font-size: 12px;
}

.statusBlock td {
    text-align: right;
    font-size: 12px;
}

td.graphBar{
    width: 150px;
}

.bar_chart {
    border: 1px solid #fff;
    height: 15px;
    overflow: hidden;
    border-radius: 10px;
}
.bar_inner {
    height: 15px;
}

.bar_text { 
    line-height: 16px;
    font-size: 12px;
    text-indent: 5px; 
    text-align: left;
    width: 100%; 
}

.bar_color_red { 
    background: url(../img/status_level_bar_red.png) repeat-x;
}

.bar_color_green { 
    background: url(../img/status_level_bar_green.png) repeat-x;
}

.bar_color_yellow { 
    background: url(../img/status_level_bar_yellow.png) repeat-x;

}

/*Status Indicators*/

div.statusIndicator{
    width: 17px;
    height: 16px;
    margin: 0 2px;
}

.green{
    background: url(../img/ok_icon_status_bar.png) transparent no-repeat;
}

.yellow{
    background: url(../img/status_bar_attention_icon.png) transparent no-repeat;
}

.red{
    background: url(../img/status_bar_alert_icon.png) transparent no-repeat;
}

/*error inspector*/
#footer .inspect{
    display: table;
    width: 100%;
}

#footer .inspect ul li{
    margin: 5px;
    width: 200px;
    float: left;
    font-size: 13px;
    padding: 0;
}

#footer .error_box{
    text-align: center;
    background: #ff5656;
    color: #333;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 930px;
}